
/* ====================== */
/*         spinner        */
/* ====================== */

@keyframes ldio_sttf5qw8ys {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio_sttf5qw8ys div {
    left: 92px;
    top: 53px;
    position: absolute;
    animation: ldio_sttf5qw8ys linear 1s infinite;
    background: #858585;
    width: 16px;
    height: 14px;
    border-radius: 8px / 7px;
    transform-origin: 8px 47px;
  }.ldio_sttf5qw8ys div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9882352941176471s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(2) {
    transform: rotate(4.235294117647059deg);
    animation-delay: -0.9764705882352941s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(3) {
    transform: rotate(8.470588235294118deg);
    animation-delay: -0.9647058823529412s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(4) {
    transform: rotate(12.705882352941176deg);
    animation-delay: -0.9529411764705882s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(5) {
    transform: rotate(16.941176470588236deg);
    animation-delay: -0.9411764705882353s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(6) {
    transform: rotate(21.176470588235293deg);
    animation-delay: -0.9294117647058824s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(7) {
    transform: rotate(25.41176470588235deg);
    animation-delay: -0.9176470588235294s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(8) {
    transform: rotate(29.647058823529413deg);
    animation-delay: -0.9058823529411765s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(9) {
    transform: rotate(33.88235294117647deg);
    animation-delay: -0.8941176470588236s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(10) {
    transform: rotate(38.11764705882353deg);
    animation-delay: -0.8823529411764706s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(11) {
    transform: rotate(42.35294117647059deg);
    animation-delay: -0.8705882352941177s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(12) {
    transform: rotate(46.588235294117645deg);
    animation-delay: -0.8588235294117647s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(13) {
    transform: rotate(50.8235294117647deg);
    animation-delay: -0.8470588235294118s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(14) {
    transform: rotate(55.05882352941177deg);
    animation-delay: -0.8352941176470589s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(15) {
    transform: rotate(59.294117647058826deg);
    animation-delay: -0.8235294117647058s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(16) {
    transform: rotate(63.529411764705884deg);
    animation-delay: -0.8117647058823529s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(17) {
    transform: rotate(67.76470588235294deg);
    animation-delay: -0.8s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(18) {
    transform: rotate(72deg);
    animation-delay: -0.788235294117647s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(19) {
    transform: rotate(76.23529411764706deg);
    animation-delay: -0.7764705882352941s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(20) {
    transform: rotate(80.47058823529412deg);
    animation-delay: -0.7647058823529411s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(21) {
    transform: rotate(84.70588235294117deg);
    animation-delay: -0.7529411764705882s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(22) {
    transform: rotate(88.94117647058823deg);
    animation-delay: -0.7411764705882353s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(23) {
    transform: rotate(93.17647058823529deg);
    animation-delay: -0.7294117647058823s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(24) {
    transform: rotate(97.41176470588235deg);
    animation-delay: -0.7176470588235294s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(25) {
    transform: rotate(101.6470588235294deg);
    animation-delay: -0.7058823529411765s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(26) {
    transform: rotate(105.88235294117646deg);
    animation-delay: -0.6941176470588235s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(27) {
    transform: rotate(110.11764705882354deg);
    animation-delay: -0.6823529411764706s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(28) {
    transform: rotate(114.3529411764706deg);
    animation-delay: -0.6705882352941176s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(29) {
    transform: rotate(118.58823529411765deg);
    animation-delay: -0.6588235294117647s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(30) {
    transform: rotate(122.82352941176471deg);
    animation-delay: -0.6470588235294118s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(31) {
    transform: rotate(127.05882352941177deg);
    animation-delay: -0.6352941176470588s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(32) {
    transform: rotate(131.2941176470588deg);
    animation-delay: -0.6235294117647059s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(33) {
    transform: rotate(135.52941176470588deg);
    animation-delay: -0.611764705882353s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(34) {
    transform: rotate(139.76470588235293deg);
    animation-delay: -0.6s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(35) {
    transform: rotate(144deg);
    animation-delay: -0.5882352941176471s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(36) {
    transform: rotate(148.23529411764707deg);
    animation-delay: -0.5764705882352941s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(37) {
    transform: rotate(152.47058823529412deg);
    animation-delay: -0.5647058823529412s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(38) {
    transform: rotate(156.7058823529412deg);
    animation-delay: -0.5529411764705883s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(39) {
    transform: rotate(160.94117647058823deg);
    animation-delay: -0.5411764705882353s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(40) {
    transform: rotate(165.1764705882353deg);
    animation-delay: -0.5294117647058824s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(41) {
    transform: rotate(169.41176470588235deg);
    animation-delay: -0.5176470588235295s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(42) {
    transform: rotate(173.64705882352942deg);
    animation-delay: -0.5058823529411764s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(43) {
    transform: rotate(177.88235294117646deg);
    animation-delay: -0.49411764705882355s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(44) {
    transform: rotate(182.11764705882354deg);
    animation-delay: -0.4823529411764706s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(45) {
    transform: rotate(186.35294117647058deg);
    animation-delay: -0.47058823529411764s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(46) {
    transform: rotate(190.58823529411765deg);
    animation-delay: -0.4588235294117647s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(47) {
    transform: rotate(194.8235294117647deg);
    animation-delay: -0.4470588235294118s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(48) {
    transform: rotate(199.05882352941177deg);
    animation-delay: -0.43529411764705883s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(49) {
    transform: rotate(203.2941176470588deg);
    animation-delay: -0.4235294117647059s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(50) {
    transform: rotate(207.52941176470588deg);
    animation-delay: -0.4117647058823529s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(51) {
    transform: rotate(211.76470588235293deg);
    animation-delay: -0.4s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(52) {
    transform: rotate(216deg);
    animation-delay: -0.38823529411764707s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(53) {
    transform: rotate(220.23529411764707deg);
    animation-delay: -0.3764705882352941s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(54) {
    transform: rotate(224.47058823529412deg);
    animation-delay: -0.36470588235294116s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(55) {
    transform: rotate(228.7058823529412deg);
    animation-delay: -0.35294117647058826s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(56) {
    transform: rotate(232.94117647058823deg);
    animation-delay: -0.3411764705882353s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(57) {
    transform: rotate(237.1764705882353deg);
    animation-delay: -0.32941176470588235s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(58) {
    transform: rotate(241.41176470588235deg);
    animation-delay: -0.3176470588235294s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(59) {
    transform: rotate(245.64705882352942deg);
    animation-delay: -0.3058823529411765s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(60) {
    transform: rotate(249.88235294117646deg);
    animation-delay: -0.29411764705882354s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(61) {
    transform: rotate(254.11764705882354deg);
    animation-delay: -0.2823529411764706s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(62) {
    transform: rotate(258.3529411764706deg);
    animation-delay: -0.27058823529411763s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(63) {
    transform: rotate(262.5882352941176deg);
    animation-delay: -0.25882352941176473s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(64) {
    transform: rotate(266.8235294117647deg);
    animation-delay: -0.24705882352941178s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(65) {
    transform: rotate(271.05882352941177deg);
    animation-delay: -0.23529411764705882s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(66) {
    transform: rotate(275.29411764705884deg);
    animation-delay: -0.2235294117647059s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(67) {
    transform: rotate(279.52941176470586deg);
    animation-delay: -0.21176470588235294s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(68) {
    transform: rotate(283.7647058823529deg);
    animation-delay: -0.2s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(69) {
    transform: rotate(288deg);
    animation-delay: -0.18823529411764706s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(70) {
    transform: rotate(292.2352941176471deg);
    animation-delay: -0.17647058823529413s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(71) {
    transform: rotate(296.47058823529414deg);
    animation-delay: -0.16470588235294117s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(72) {
    transform: rotate(300.70588235294116deg);
    animation-delay: -0.15294117647058825s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(73) {
    transform: rotate(304.94117647058823deg);
    animation-delay: -0.1411764705882353s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(74) {
    transform: rotate(309.1764705882353deg);
    animation-delay: -0.12941176470588237s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(75) {
    transform: rotate(313.4117647058824deg);
    animation-delay: -0.11764705882352941s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(76) {
    transform: rotate(317.6470588235294deg);
    animation-delay: -0.10588235294117647s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(77) {
    transform: rotate(321.88235294117646deg);
    animation-delay: -0.09411764705882353s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(78) {
    transform: rotate(326.11764705882354deg);
    animation-delay: -0.08235294117647059s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(79) {
    transform: rotate(330.3529411764706deg);
    animation-delay: -0.07058823529411765s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(80) {
    transform: rotate(334.5882352941176deg);
    animation-delay: -0.058823529411764705s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(81) {
    transform: rotate(338.8235294117647deg);
    animation-delay: -0.047058823529411764s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(82) {
    transform: rotate(343.05882352941177deg);
    animation-delay: -0.03529411764705882s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(83) {
    transform: rotate(347.29411764705884deg);
    animation-delay: -0.023529411764705882s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(84) {
    transform: rotate(351.52941176470586deg);
    animation-delay: -0.011764705882352941s;
    background: #858585;
  }.ldio_sttf5qw8ys div:nth-child(85) {
    transform: rotate(355.7647058823529deg);
    animation-delay: 0s;
    background: #858585;
  }
  .loadingio_spinner_spinner_btywm2cadb5 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  .ldio_sttf5qw8ys {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio_sttf5qw8ys div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
  
  